
@{
    ViewBag.Title = "Studentlistforteacher";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1 style="text-align:center;background-color:aliceblue">Student  list for teacher</h1>

<h1 style="color:cornflowerblue">@TempData["msg"]</h1>


<div style="overflow:scroll">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Student ID</th>


                <th>Student Name</th>

                <th>Delete</th>

            </tr>

        </thead>




        <tbody>


            @foreach (var item in ViewData["jointables"] as IEnumerable<OnlineQuizSystem.Models.AcceptStudentRequestClass>)
            {
                <tr>



                    <td> @item.friendrequest.studentid </td>

                    <td>@Html.ActionLink(item.addfriend.StudentName, "Studentprofileforteacher", new { id = item.addfriend.StudentName })</td>



                    <td>
                        @using (Html.BeginForm("StudentRequestNotifictionForTeacher", "Request", FormMethod.Post))

                        {

                            <input type="hidden" value="@item.friendrequest.studentid" name="sid" />
                            <span class="glyphicon glyphicon-trash"></span>
                            <button type="submit" value="1" name="delete">Delete</button>
                        }
                    </td>






                </tr>
            }

        </tbody>



    </table>

</div>

