
@{
    ViewBag.Title = "SendResults";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Get Current Logged in User Info Dashboard
    //OnlineQuizSystem.Models.ONLINEQUIZEntities8 db = new OnlineQuizSystem.Models.ONLINEQUIZEntities8();
    //int studentId = Convert.ToInt32(Session["StudentID"]);
    //var CurrentUser = db.Students.Find(studentId);
}
@*@section user_name {
    @CurrentUser.Email
}*@
@section content_wrapper {
    <div style="overflow:scroll">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Subject Name</th>

                    <th>Marks</th>

                </tr>

            </thead>



            <tbody>

                @foreach (var item in ViewData["jointables"] as IEnumerable<OnlineQuizSystem.Models.showsubjectnumberClass>)
                {
                    <tr>



                        <td>@Html.ActionLink(item.CategoryName.CategoryName, "showsamplequestions", new { id = item.CategoryId.CategoryId })</td>


                        <td>
                            @item.marks.totalmarks
                        </td>


                    </tr>
                }
            </tbody>




        </table>

    </div>
    }