
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    //OnlineQuizSystem.Models.ONLINEQUIZEntities8 db = new OnlineQuizSystem.Models.ONLINEQUIZEntities8();
    //int teacherId = Convert.ToInt32(Session["TeacherID"]);
    //var CurrentUser = db.Teachers.Find(teacherId);
}
@*@section user_name {
    @CurrentUser.Email
}*@

@section content_wrapper {
    <div >
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Marks</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewData["jointables"] as IEnumerable<OnlineQuizSystem.ViewModel.showsubjectnumberViewModel>)
                {


                <tr>


                    <td>


                        @Html.ActionLink(item.studentfullID + "", "Studentprofileofstudents", new { id = item.studentid })



                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                    <td>@item.totalmarks </td>


                </tr>

                }
            </tbody>




        </table>

    </div>



}