
@*@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendResult</title>
</head>
<body>


    <div>
        Count :  @ViewBag.Count;
    </div>


    <div>
        Student Name : @ViewBag.student.StudentName;
    </div>

    <div>
        Student Email : @ViewBag.student.Email;
    </div>


    <div>
        CategoryName : @ViewBag.category.CategoryName;
    </div>
</body>
</html>*@
