@model OnlineQuizSystem.Models.Category

@{
    ViewBag.Title = "Question Sets";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

@section content_wrapper {

    <div >
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Subject Name</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th> <th></th>
                    <th></th><th></th><th></th><th></th><th></th>
                    <th></th>

                </tr>

            </thead>



            <tbody>
                @foreach (var item in ViewData["list"] as List<OnlineQuizSystem.Models.Category>)
                {


                <tr>


                    <td>@Html.ActionLink(item.CategoryName, "showquestions", new { id = item.CategoryId })</td>



                    <td></td> <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                    <td>


                        @using (Html.BeginForm("makeavailbe", "ViewQuestions", FormMethod.Post))
                        {

                            <input type="hidden" value="@item.CategoryId" name="cid" />
                            if (item.available == 0)
                            {
                                <button type="submit" class="btn btn-dark" style="background-color:green"  value="1" name="available">Make Available</button>
                            }

                            else
                            {
                                <button type="submit" class="btn btn-dark" style="background-color:#3ab071" value="0" name="available">Make Unavailable</button>
                            }

                        }
                    </td>
                    <td>

                        @using (Html.BeginForm("deleteset", "ViewQuestions", FormMethod.Post))
                        {
                            <input type="hidden" value="@item.CategoryId" name="qid" />
                            <button type="submit" class="btn btn-dark" style="background-color:#e03d3d" value="1" name="delete">Delete</button>
                        }
                    </td>


                </tr>

                }
            </tbody>




        </table>

    </div>

    }